#input-search{
	width: 600px;
	height: 30px;
	text-indent: 10px;
	margin-left: 100px;
}
#Salir{
	width: 70px;
	margin-left: 100px;
	margin-right: 0 auto;
	background-color: #C459F6;

}
.namess{
	text-align: center;
	margin-top: 30px;	
	margin-bottom: 30px;
	position: relative;
	color: #5C916B;
	font-size: 4em;
	margin-left: 15px;
	font-family: 'Baloo Bhai', cursive;
}
.container-info{
	background-color: #9E97D7;
	margin-top: 150px;
	margin-left: 80px;
	border-style: solid;
	border-color: black;
	text-align: center;

}
.bottom-c{
	margin-top: 200px;
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
}
.bottom-c button{

}
.container-info p{
	font-size: 1em;
}
.img-conteiner{
	background-color: black;
	padding-left: 5px;
	margin-left: 50px;
}
body{
	background-color: #BBB8BE;
}

#logo{
	margin-top: 50px;
	margin-left: 50px;
}
#Buscar{
  	margin-left: 10px;
}
#navbarColor01{
	margin-left: 100px;

}
.table{
	margin-top: 50px;
	border-color: #000;
	background-color: #8B81D3;
	color: black;
	border-collapse: collapse;
	padding: 20px; 

}
.maint{
	font-family: 'Quicksand', sans-serif;
}
#image{
	margin-left: 100px;
	border-color: black;
	border-radius: 4px;
	border-width: 3px;
}

.section{
	margin-top: 50px;
	margin-left: 100px;
	padding-left: 100px;
	background-color: #38578B;
	border-color: #000;
	border-radius: 4px;
	border-width: 4px;
	padding-bottom: 20px;
}
.section h4{
	color: #97B7EB;
}
.section h1{
	color: #fff;
	font-family: 'Quicksand', sans-serif;
	margin-bottom: 20px;
}
.section p{
	line-height: 150%;
	font: oblique bold 120% cursive;
	color: #fff;
}
#article{
	color: #fff;
}
.section h2,h3{
	color: #fff;
}

#prim{
    margin-left: 100px;
	margin-top: 30px;	
	margin-bottom: 60px;
	position: relative;
	font-family: 'Fjalla One', sans-serif;
	color: #38578B;
	font-size: 4em;

}
.btn-group-vertical {
	margin-top: 0px;
	padding-top: 50px;
	margin-left: 150px; 
	font-family: 'Fjalla One', sans-serif;
	font-size: 10px;
}

#lll{
	margin-top: 50px;
	margin-left: 200px;
	margin-bottom: 0px;
}
.nav-link{
	margin-left: 40px;
}
.button{
	color: #000;
}

.btn a{
	color: black;
}
td a{
	color: black;
}
.container-2{
	margin-top: 100px;
}
.container-3{

	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 50px;
	padding-left: 30px;
	margin-right: 0px;
	margin-bottom: 50px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	border-radius: 4px;
	color: #000;
	background-color: #D5D5D5;
	
}
.container-3 h2{

}
#ii2{
	margin-left: 150px;
	border-color: #0C144E;
	background-color: #A5FFE6;
}
#ii1{
	margin-left: 50px;
	border-color: #0C144E;
	background-color: #FEBEBE;
}
#Credito{
	margin-left: 130px;
	margin-top: 40px;
}
