body{
	background-image: url(../../media/images/img/6.jpg);
	background-size: cover;
}
.user-img{
	margin-top: -50px;
	margin-bottom: 35px;

}
.modal-content{
	background-color: #CCC19F;
	opacity: .95;
	padding: 0 20px;
}

.incio-section{
	margin:0 auto;
	margin-top:15%;
	padding: 0; 	
}