{% extends 'plantillaGeneral.html' %}
<link rel="stylesheet" href="static/css/diseño.css">
<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
{% block title %}
Donaciones Realizadas
{% endblock %}
{% block content %}


<h1 class="heading">Lista de usuarios a quien done</h1>



<p>Usuarios </p>

{% for  Usuarios in usuariosQDone %}

<p>Nombre del usuario : {{Usuarios.usuarioBen.user.first_name}}</p>
<p>Apellido del usuario : {{Usuarios.usuarioBen.user.last_name}}</p>
<p>Monto donado : {{Usuarios.cantidad}}</p>
<p>Mensaje enviado : {{Usuarios.mensaje}}</p>


{%endfor%}
{% endblock %}
