{% extends 'plantillaGeneral.html' %}
{% block extrahead %}
<link rel="stylesheet" href="static/css/diseño.css">
<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
{% endblock %}
{% block title %}
Resultado Busqueda
{% endblock %}
{% block content %}
	 <h1 class="heading">Manualidades</h1>

    <div class="container-lit conteiner">
      <form class="site-form" method="post">
 
            {% if manualidadesPasan %}
         <table class="table table-hover">
          <thead>
            <tr class="table-primary">
              <th scope="row">ID</th>
              <td>Título</td>
              <td>Género</td>
              <td>Descripción</td>
              <td>Autor</td>
              <td>Existencias</td>
              <td>Precio</td>
            </tr>
          </thead>
          <tbody>
            {% for manualidad in manualidadesPasan %}
            <tr>
              <td><a href="Producto/ContenidoManualidad/{{manualidad.pk}}">{{manualidad.pk}}</td>
              <td>{{manualidad.title}}</a></td>
              <td>
								{% if manualidad.genero.Bodegon %}
									Bodegón
								{% endif %}
								{% if manualidad.genero.Vanitas %}
									Vanitas
								{% endif %}
								{% if manualidad.genero.Retrato %}
									Retrato
								{% endif %}
								{% if manualidad.genero.Terror %}
									Terror
								{% endif %}
								{% if manualidad.genero.Desnudo %}
									Desnudo
								{% endif %}
								{% if manualidad.genero.Religioso %}
									Religioso
								{% endif %}
								{% if manualidad.genero.Historico %}
									Histórico
								{% endif %}
								{% if manualidad.genero.Mitologico %}
									Mitológico
								{% endif %}
								{% if manualidad.genero.Paisaje %}
									Paisaje
								{% endif %}
								{% if manualidad.genero.Funeraria %}
									Funeraria
								{% endif %}
								{% if manualidad.genero.Monumento %}
									Monumento
								{% endif %}
								{% if manualidad.genero.Estatuilla %}
									Estatuilla
								{% endif %}
								{% if manualidad.genero.Figura %}
									Figura
								{% endif %}
								{% if manualidad.genero.Relieve %}
									Relieve
								{% endif %}
              </td>
              <td>{{manualidad.Descripcion}}</td>
              <td>{{manualidad.user.username}}</td>
              <td>{{manualidad.existencias}}</td>
              <td>{{manualidad.precioV}}</td>
            </tr>
            {% endfor %}

            {% else %}
            <h1 align="center">No hay registros de manualidades que cumplan con esas características</h1>
            {% endif %}
          </tbody>
        </table>
      </form>
    </div>

{% endblock %}