<!DOCTYPE html>
<html>
<head>
	<title>Búsqueda de manualidades</title>
</head>
<body>
  <p>Bienvenido al buscador de manualidades. Aquí podrá buscar información sobre pinturas y esculturas en venta acorde a sus
    títulos y/o acorde a las etiquetas asociadas a ellos. Se le recuerda que debe contactar al vendedor usted mismo para
    adquirir cualquier manualidad que llege a comprar.</p>

  <form class="site-form" method="post"  enctype="multipart/form-data">
    <input class="form-control mr-sm-0" type="text" placeholder="Escribe una palabra clave del título" id="input-search">
    <div class="btn-group-vertical" data-toggle="buttons">
      <input type="radio" name="tag1" value="1"> Bodegón
      <input type="radio" name="tag2" value="2"> Vanitas
      <input type="radio" name="tag3" value="3"> Retrato
      <input type="radio" name="tag4" value="4"> Terror
      <input type="radio" name="tag5" value="5"> Desnudo
      <input type="radio" name="tag6" value="6"> Religioso
      <input type="radio" name="tag7" value="7"> Histórico
      <input type="radio" name="tag8" value="8"> Mitológico
      <input type="radio" name="tag9" value="9"> Paisaje
      <input type="radio" name="tag10" value="10"> Funeraria
      <input type="radio" name="tag11" value="11"> Retrato
      <input type="radio" name="tag12" value="12"> Monumento
      <input type="radio" name="tag13" value="13"> Estatuilla
      <input type="radio" name="tag14" value="14"> Figura
      <input type="radio" name="tag15" value="15"> Relieve
    </div>
    <button class="btn btn-success" type="submit" id="Buscar"><a href="">Buscar</a></button>
    <br>
    <br>
  </form>
   <a href="BusquedaEspecifica">Regresar</a>
</body>
</html>
