{% extends 'plantillaGeneral.html' %}
{% block extrahead %}
<link rel="stylesheet" href="/static/css/diseño.css">
<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
{% endblock %}
{% block title %}
Busqueda Literaria
{% endblock %}
{% block content %}
  <p id="p2">Bienvenido al buscador de obras literarias. Aquí podrá buscar obras literarias acorde a sus títulos y/o acorde al
  género (o géneros) al que pertenesca(n).</p>

  <form class="form-inline my-2 my-lg-2" method = "POST" action="/BusquedaObraLiterariaResultado">
		{% csrf_token %}
		<input class="form-control mr-sm-0" type="text" placeholder="Escribe una palabra clave del título" id="input-search" name="buscarstring">


    <div class="btn-group-vertical" data-toggle="buttons">
			<input type="checkbox" id = "cb1" name="check1" value="comedia" ><label id = "c1"> Comedia </label>
			<input type="checkbox" id = "cb2" name="check2" value="drama" ><label id = "c2"> Drama</label>
			<input type="checkbox" id = "cb3" name="check3" value="tragicomedia" ><label id = "c3"> Tragicomedia</label>
			<input type="checkbox" id = "cb4" name="check4" value="terror" ><label id = "c4"> Terror</label>
			<input type="checkbox" id = "cb5" name="check5" value="ciencia ficcion" ><label id = "c5"> Ciencia Ficción</label>
    </div>

		<br>

		<button class="btn btn-success" type="submit" id="Buscar2">Buscar</button>
 
  </form>


{% endblock %}
