{% extends 'plantillaGeneral.html' %}
{% block extrahead %}
<link rel="stylesheet" href="static/css/diseño.css">
<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
{% endblock %}
{% block title %}
Busqueda Obras
{% endblock %}
{% block content %}
  <h1 class="heading">Busqueda de obras</h1>

  <form class="site-form" method="post"  enctype="multipart/form-data">
    <div class="btn2-group-vertical" data-toggle="buttons">
      <button type="submit" class="btn btn-secondary"><a href="BusquedaObraLiteraria">Buscar obras literarias</a></button>
      <button type="submit" class="btn btn-secondary"><a href="BusquedaObraManualidad">Buscar manualidades</a></button>
      <button type="submit" class="btn btn-secondary"><a href="">Buscar obra audiovisual</a></button>
    </div>
  </form>

{% endblock %}