{% extends 'plantillaGeneral.html' %}
{% block extrahead %}
<link rel="stylesheet" href="static/css/diseño.css">
<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
{% endblock %}
{% block title %}
Busqueda Obras
{% endblock %}
{% block content %}
  <h1 class="heading">Busqueda de obras</h1>

  <form class="site-form" method="GET"  enctype="multipart/form-data">
    <div class="btn2-group-vertical" data-toggle="buttons">
      <button type="submit" class="btn btn-secondary" value="BusquedaObraLiteraria" name="busqueda1">Buscar obras literarias</button>
      <button type="submit" class="btn btn-secondary" value="BusquedaObraManualidad" name="busqueda2">Buscar manualidades</button>
      <button type="submit" class="btn btn-secondary" value="BusquedaObraMultimedia" name="busqueda3">Buscar obra audiovisual</button>
    </div>
  </form>

{% endblock %}
