<!DOCTYPE html>
<html>
<head>
	<title>Búsqueda avanzada</title>
</head>
<body>
  <p>Bienvenido al buscador de obras. Por favor seleccione qué tipo de obra le gustaría buscar.</p>

  <form class="site-form" method="post"  enctype="multipart/form-data">
    <div class="btn-group-vertical" data-toggle="buttons">
      <button type="button" class="btn btn-secondary"><a href="BusquedaObraLiteraria">Buscar obras literarias</a></button>
      <button type="button" class="btn btn-secondary"><a href="">Buscar manualidades</a></button>
      <button type="button" class="btn btn-secondary"><a href="">Buscar obra audiovisual</a></button>
    </div>
  </form>

  <br>
  <br>
   <a href="HomePage">Regresar</a>
</body>
</html>
