{% extends 'plantillaGeneral.html' %}
{% block extrahead %}
<link rel="stylesheet" href="static/css/diseño.css">
<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
{% endblock %}
{% block title %}
Resultado Busqueda
{% endblock %}
{% block content %}

    <div class="container-lit conteiner">
      <h1 class="heading">Libros Encontrados</h1>
      <form class="site-form" method="post">

            {% if librosPasan %}
            <table class="table table-hover">
              <thead>
                <tr class="table-primary">
                  <th scope="row">ID</th>
                  <td>Título</td>
                  <td>Género</td>
                  <td>Descripción</td>
                  <td>Autor</td>
                  <td>Cantidad Páginas</td>
                  <td>Idioma</td>
                  <td>Precio</td>
                </tr>
              </thead>
            <tbody>
            {% for libro in librosPasan %}
            <tr>
              <td><a href="Producto/ContenidoLiterario/{{libro.pk}}">{{libro.pk}}</a></td>
              <td>{{libro.Titulo}}</td>
              <td>
                {% if libro.genero.Comedia %}
                  Comedia
                {% endif %}
                {% if libro.genero.Drama %}
                  Drama
                {% endif %}
                {% if libro.genero.Tragicomedia %}
                  Tragicomedia
                {% endif %}
                {% if libro.genero.Terror %}
                  Terror
                {% endif %}
                {% if libro.genero.Ciencia_Ficción %}
                  Ciencia_Ficción
                {% endif %}
              </td>
              <td>{{libro.Descripcion}}</td>
              <td>{{libro.user.username}}</td>
              <td>{{libro.CantidadPaginas}}</td>
              <td>{{libro.Idioma}}</td>
              <td>{{libro.PrecioLibro}}</td>
            </tr>
            {% endfor %}

            {% else %}
            <h1 align="center">No hay registros de libros que cumplan con ese nombre</h1>
            {% endif %}
          </tbody>
        </table>
      </form>
    </div>



    <div class="container-lit conteiner">
      <h1 class="heading">Manualidades Encontradas</h1>
      <form class="site-form" method="post">

            {% if manualidadesPasan %}
            {% for manualidad in manualidadesPasan %}
             <table class="table table-hover">
          <thead>
            <tr class="table-primary">
              <th scope="row">ID</th>
              <td>Título</td>
              <td>Género</td>
              <td>Descripción</td>
              <td>Autor</td>
              <td>Existencias</td>
              <td>Precio</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="Producto/ContenidoMultimedia/{{manualidad.pk}}">{{manualidad.pk}}</a></td>
              <td>{{manualidad.title}}</td>
              <td>
                {% if manualidad.genero.Bodegon %}
                  Bodegón
                {% endif %}
                {% if manualidad.genero.Vanitas %}
                  Vanitas
                {% endif %}
                {% if manualidad.genero.Retrato %}
                  Retrato
                {% endif %}
                {% if manualidad.genero.Terror %}
                  Terror
                {% endif %}
                {% if manualidad.genero.Desnudo %}
                  Desnudo
                {% endif %}
                {% if manualidad.genero.Religioso %}
                  Religioso
                {% endif %}
                {% if manualidad.genero.Historico %}
                  Histórico
                {% endif %}
                {% if manualidad.genero.Mitologico %}
                  Mitológico
                {% endif %}
                {% if manualidad.genero.Paisaje %}
                  Paisaje
                {% endif %}
                {% if manualidad.genero.Funeraria %}
                  Funeraria
                {% endif %}
                {% if manualidad.genero.Monumento %}
                  Monumento
                {% endif %}
                {% if manualidad.genero.Estatuilla %}
                  Estatuilla
                {% endif %}
                {% if manualidad.genero.Figura %}
                  Figura
                {% endif %}
                {% if manualidad.genero.Relieve %}
                  Relieve
                {% endif %}
              </td>
              <td>{{manualidad.Descripcion}}</td>
              <td>{{manualidad.user.username}}</td>
              <td>{{manualidad.existencias}}</td>
              <td>{{manualidad.precioV}}</td>
            </tr>
            {% endfor %}

            {% else %}
            <h1 align="center">No hay registros de manualidades que cumplan con ese nombre</h1>
            {% endif %}
          </tbody>
        </table>
      </form>
    </div>

      <div class="container-lit conteiner">
        <h1 class="heading">Obras Multimedia Encontradas</h1>
        
            
      {% if videosPasan %}
          <form class="site-form" method="post">
          <table class="table table-hover">
            <thead>
              <tr class="table-primary">
                <th scope="row">ID</th>
                <td>Título</td>
                <td>Género</td>
                <td>Descripción</td>
                <td>Autor</td>
                <td>Formato</td>
                <td>Precio</td>
                <td>Fecha</td>
              </tr>
            </thead>
              <tbody>
              {% for video in videosPasan %}
              <tr>
                <td><a href="Producto/ContenidoMultimedia/{{video.pk}}">{{video.pk}}</a></td>
                <td>{{video.title}}</td>
                <td>
  								{% if video.genero.Comedia %}
  									Comedia
  								{% endif %}
  								{% if video.genero.Drama %}
  									Drama
  								{% endif %}
  								{% if video.genero.Retrato %}
  									Retrato
  								{% endif %}
  								{% if video.genero.Terror %}
  									Terror
  								{% endif %}
  								{% if video.genero.Accion %}
  									Acción
  								{% endif %}
  								{% if video.genero.Belico %}
  									Bélico
  								{% endif %}
  								{% if video.genero.CienciaFiccion %}
  									Ciencia_ficción
  								{% endif %}
  								{% if video.genero.Aventura %}
  									Aventura
  								{% endif %}
  								{% if video.genero.DelOeste %}
  									Del_Oeste
  								{% endif %}
  								{% if video.genero.ArtesMarciales %}
  									Artes_marciales
  								{% endif %}
  								{% if video.genero.Fantastico %}
  									Fantástico
  								{% endif %}
  								{% if video.genero.Suspenso %}
  									Suspenso
  								{% endif %}
                  {% if video.genero.Historico %}
  									Histórico
  								{% endif %}
  								{% if video.genero.Adolescente %}
  									Adolescente
  								{% endif %}
  								{% if video.genero.Infantil %}
  									Infantil
  								{% endif %}
  								{% if video.genero.Político_Social %}
  									Sociopolítico
  								{% endif %}
  								{% if video.genero.Animacion %}
  									Animación
  								{% endif %}
                </td>
                <td>{{video.descripcion}}</td>
                <td>{{video.user.username}}</td>
                <td>{{video.formato}}</td>
                <td>{{video.precioV}}</td>
                <td>{{video.fecha}}</td>
              </tr>

              {% endfor %}
            </tbody>
          </table>
              {% else %}
              <h1 align="center">No hay registros de obras multimedia que cumplan con esas características</h1>
              {% endif %}
     
        </form>
      </div>


{% endblock %}
