<!DOCTYPE html>
<html>
<head>
	<title>Búsqueda de obra literaria</title>
</head>
<body>
  <p>Bienvenido al buscador de obras literarias. Aquí podrá buscar obras literarias acorde a sus títulos y/o acorde al
  género (o géneros) al que pertenescan.</p>

  <form class="site-form" method="post"  enctype="multipart/form-data">
    <input class="form-control mr-sm-0" type="text" placeholder="Escribe una palabra clave del título" id="input-search">
    <div class="btn-group-vertical" data-toggle="buttons">
      <button type="button" class="btn btn-secondary"><a href="">Buscar obras literarias</a></button>
      <button type="button" class="btn btn-secondary"><a href="">Buscar manualidades</a></button>
      <button type="button" class="btn btn-secondary"><a href="">Buscar obra audiovisual</a></button>
    </div>
    <input type="submit" value="Buscar">
    <br>
    <br>
  </form>
   <a href="BusquedaEspecifica">Regresar</a>
</body>
</html>
