{% extends 'plantillaGeneral.html' %}

{% block title %}
Carrito
{% endblock %}
{% block content %}
<div>
	<div class="modal-dialog text-center">
		<div class="col-sm-10 incio-section">
				<font size="6" color="38578B" face="Trebuchet MS"><i class="fas fa-shopping-bag"></i><h1>  Articulos Seleccionados</h1></font>
		</div>
	</div>
	<div class="row">
			<div class="col col-3"></div>
			<div class="col col-6">
				<div class="container-3 conteiner">
						<h2><em><font face="Trebuchet MS" size="5"> Obras literarias</font></em></h2>
						{% for Libro in libros %}
						<p><font face="Trebuchet MS" size="4">Nombre Obra literaria:  </font> <font face="Trebuchet MS"  color="046C4F" size="3">{{Libro.Titulo}}</font></p>
						<p><font face="Trebuchet MS" size="4">Precio:  </font>  <font face="Trebuchet MS" color="046C4F" size="3">{{Libro.PrecioLibro}}</font>
            <form method="get">
              <input type="submit" value="Eliminar del carrito" name="Libro{{Libro.pk}}">

            </form>
            </p>
						{%endfor%}
						<form>

						</form>
              <h2><em><font face="Trebuchet MS" size="5"> Obras Manuales</font></em></h2>
            {% for Manual in manualidades %}
            <p><font face="Trebuchet MS" size="4">Nombre Obra Manualidad:  </font> <font face="Trebuchet MS"  color="046C4F" size="3">{{Manual.title}}</font></p>
            <p><font face="Trebuchet MS" size="4">Precio:  </font>  <font face="Trebuchet MS" color="046C4F" size="3">{{Manual.precioV}}</font>
            <form method="get">
              <input type="submit" value="Eliminar del carrito" name="Manual{{Manual.pk}}">

            </form>
            </p>
            {%endfor%}
            <form>

            </form>
						<p><font face="Trebuchet MS" size="4">Total:  </font><font face="Trebuchet MS"  color="046C4F" size="3">{{Subtotal}}</font></p>
						<form method="get">
							{% csrf_token %}
  							<input type="submit" value="Realizar Compra" name="carrito" id="ii2">
							<input type="submit" value="Borrar" name="borrar" id="ii1">
						</form>
				</div>
			</div>
			<div class="col col-3"></div>
		</div>
	</div>
</div>


{% endblock %}
