{% extends 'plantillaGeneral.html' %}
{% block extrahead %}
<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
{% endblock %}
{% block title %}
Catalogo Libros
{% endblock %}
{% block content %}
<div class="row">
      <div class="col col-3">
        <h1><i class="fas fa-university" id="lll"></i></h1>
          <div class="btn-group-vertical" data-toggle="buttons">
            <button type="button" class="btn btn-primary"><a href="CatalogoLibros">Obras Literarias</a></button>
            <button type="button" class="btn btn-primary"><a href="CatalogoManualidades">Manualidades</button>
            <button type="button" class="btn btn-primary"><a href="CatalogoMultimedia">Multimedia</a></button>
            <button type="button" class="btn btn-primary">Artistas</button>
          </div>
      </div>
      <div class="col col-6">
        <div class="container-lit conteiner">
          <h1  align="center" id="prim">Obras Literarias</h1>
          <form class="site-form" method="post">
            {% csrf_token %}
              {% if libros %}
              {% for libro in libros %}
              
              <div class="section">
                  <h4><a href="Producto/ContenidoLiterario/{{libro.pk}}">Articulo: {{libro.pk}}</a></h4>
                  <h1><em>{{libro.Titulo}}</em></h1>
                  <figure><img src="{{libro.imagen.url}}" height="200px" width="200px" align="center" id="image">
                  </figure>
                  <h2>Descripcion: </h2>
                  <p>{{libro.Descripcion}}</p>
                  <h3>Autor: </h3>
                  <p>{{libro.user}}</p>
                  <h3>Genero: </h3>
                  <p> 
                    {% if libro.genero.Comedia %}
                      Comedia
                    {% endif %}
                    {% if libro.genero.Drama %}
                      Drama
                    {% endif %}
                    {% if libro.genero.Tragicomedia %}
                      Tragicomedia
                    {% endif %}
                    {% if libro.genero.Terror %}
                      Terror
                    {% endif %}
                    {% if libro.genero.Ciencia_Ficción %}
                      Ciencia_Ficción
                    {% endif %}
                  </p>
                </div>
           
                {% endfor %}

                {% else %}
                <h1>No hay registros de libros</h1>
                {% endif %}            
          </form>
        </div>
      </div>
      <div class="col col-3"></div>
    </div>
  </div>


{% endblock %}
