{% extends 'plantillaGeneral.html' %}
<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
{% block title %}
Catalogo Videos
{% endblock %}
{% block content %}
    <div class="row">
      <div class="col col-3">
        <h1><i class="fas fa-university" id="lll"></i></h1>
          <div class="btn-group-vertical" data-toggle="buttons">
            <button type="button" class="btn btn-primary"><a href="CatalogoLibros">Obras Literarias</a></button>
            <button type="button" class="btn btn-primary">Pinturas</button>
            <button type="button" class="btn btn-primary">Esculturas</button>
            <button type="button" class="btn btn-primary"><a href="CatalogoMultimedia">Multimedia</a></button>
            <button type="button" class="btn btn-primary">Artistas</button>
          </div>
      </div>
      <div class="col col-6">
        <div class="container-lit conteiner">
          <h1 align="center" id="prim">Videos</h1>
          <form class="site-form" method="post">
            <table class="table table-hover">
              <thead>
                <tr class="table-primary">
                  <th scope="row">ID</th>
                  <td>Titulo</td>
                  <td>Descripcion</td>
                  <td>Autor</td>
                  <td>Precio</td>
                </tr>
              </thead>
              <tbody>
                {% if videos %}
                {% for video in videos %}
                <tr>
                  <td><a href="Producto/ContenidoMultimedia/{{video.pk}}">{{video.pk}}</a></td>
                  <td>{{video.title}}</td>
                  <td>{{video.descripcion}}</td>
                  <td>{{video.user.username}}</td>
                  <td>{{video.precioV}}</td>
                </tr>
                {% endfor %}

                {% else %}
                <h1>No hay registros de videos</h1>
                {% endif %}
              </tbody>
            </table>
          </form>
        </div>
      </div>
      <div class="col col-3"></div>
    </div>
  </div>
{% endblock %}
