{% extends 'plantillaGeneral.html' %}
{% block extrahead %}
<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
{% endblock %}
{% block title %}
Catalogo Manualidades
{% endblock %}
{% block content %}
<div class="row">
      <div class="col col-3">
        <h1><i class="fas fa-university" id="lll"></i></h1>
          <div class="btn-group-vertical" data-toggle="buttons">
            <button type="button" class="btn btn-primary"><a href="CatalogoLibros">Obras Literarias</a></button>
            <button type="button" class="btn btn-primary"><a href="CatalogoManualidades">Manualidades</button>
            <button type="button" class="btn btn-primary"><a href="CatalogoMultimedia">Multimedia</a></button>
           
          </div>
      </div>
      <div class="col col-6">
        <div class="container-lit conteiner">
          <h1  align="center" id="prim">Manualidades</h1>
          <form class="site-form" method="post">
            {% csrf_token %}
              {% if manualidad %}
              {% for manu in manualidad %}
              
              <div class="section">
                  <h4><a href="Producto/ContenidoManualidad/{{manu.pk}}">Articulo: {{manu.pk}}</a></h4>
                  <h1><em>{{manu.title}}</em></h1>
                  <figure><img src="{{manu.imagen.url}}" height="200px" width="200px" align="center" id="image">
                  </figure>
                  <h2>Descripcion: </h2>
                  <p>{{manu.descripcion}}</p>
                  <h3>Autor: </h3>
                  <p>{{manu.user}}</p>
                  <h3>Tipo: </h3>
                  <p> 
                    {{manu.tipo}}
                  </p>
                </div>
           
                {% endfor %}

                {% else %}
                <h1>No hay registros de Manualidades</h1>
                {% endif %}            
          </form>
        </div>
      </div>
      <div class="col col-3"></div>
    </div>
  </div>


{% endblock %}
