{% extends 'plantillaGeneral.html' %}

{% block title %}
Home Page
{% endblock %}
{% block content %}
  <div>
    <div class="row">
      <div class="col col-3">
         <h1><i class="fas fa-university" id="lll"></i></h1>
          <div class="btn-group-vertical" data-toggle="buttons">
            <button type="button" class="btn btn-primary" ><a href="CatalogoLibros">Obras Literarias</a></button>
            <button type="button" class="btn btn-primary"><a href="CatalogoManualidades">Manualidades</button>
            <button type="button" class="btn btn-primary"><a href="CatalogoMultimedia">Multimedia</a></button>
            <button type="button" class="btn btn-primary">Artistas</button>
          </div>
      </div>
      <div class="col col-6">
        <div class="container-2 conteiner">
          <div class="col-sm-10 incio-section">        
              
            <img src="static/img/cabecera_cultura.jpg" width="900" height="300">
          </div>
        </div>
      </div>
      <div class="col col-3"></div>
    </div>
  </div>

{% endblock %}
  

