<!DOCTYPE html>
<html>
<head>
<title>Manualidad {{Manualidad.title}}</title>
</head>
<body>


<h1>{{Manualidad.title}}</h1>
<p>Puntaje: {{Manualidad.puntaje}}</p>
<p>Generos: {{generos}}</p>
<p>Descripcion de la manualidad: {{Manualidad.title.Descripcion}}</p>
<p>Precio: {{Manualidad.precioV}}</p>
<p>Unidades disponibles: {{Manualidad.existencias}}</p>
<p> Imagen: </p><img src="{{Manualidad.imagen.url}}">
<p> Imagen: </p><img src="{{Manualidad.imagen2.url}}">
<p> Imagen: </p><img src="{{Manualidad.imagen3.url}}">
<p>Tipo: {{Manualidad.tipo}}</p>

<p>Comentarios y calificaciones: </p>
{% for comi in com %}
<p></p>
<p>Usuario: {{comi.usuarioComentador}}</p>
<p>Calificación: {{comi.califi}}</p>
<p>Comemtario: {{comi.comentario}} <br/> {% endfor %}</p>

<br/>
<a href="/HomePage">Volver a la Pagina de Inicio</a>
<tbody>
{% if Manualidad.user.username == usuario.user.username %}
	<td><a href="Editar/{{Manualidad.pk}}">editar</td>
{% else %}

<form method="get">

	<input type="submit" value="Añadir al carrito" name="carrito">
</form>

</tbody>
{% endif %}


</body>
</html>
