{% extends 'plantillaGeneral.html' %}
{% block extrahead %}
<link rel="stylesheet" href="/static/css/diseño.css">
<link rel="stylesheet" href="/static/css/perfil.css">
<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
{% endblock %}
{% block title %}
{{Libro.Titulo}}
{% endblock %}
{% block content %}
<h1 class="heading">{{Libro.Titulo}}</h1>
{%if hayComentarios%}
<p><em><b>Puntaje:</b></em>{{promedioCalificacion}}</p>
{%endif%}
<p><em><b>Generos:</b></em> {{generos}}</p>
<p><em><b>Precio:</b></em> {{Libro.PrecioLibro}}</p>
<p><em><b>Descripcion del libro:</b></em> {{Libro.Descripcion}}</p>
<p><em><b>Cantidad de paginas:</b></em> {{Libro.CantidadPaginas}}</p>
<p><em><b>Numero ISBN:</b></em> {{Libro.ISBN}}</p>
<p></em><b>Idioma:</b></em> {{Libro.Idioma}} </p>
	<center>
			<img class="center-block" src="{{Libro.imagen.url}}" width="300" height="300" id="imgl">
	{%if permitir == False%}
	<p> Descarga:</p>
	<form method="get">  	
	<input type="submit" value="Descargar" name="descarga"  id="Comprar2">
	</form>

	{% endif %}
		{% if User.pk == Libro.user.pk %}
			<button id="Comprar4"><a href="/Producto/ContenidoLiterario/Editar/{{Libro.pk}}">EDITAR</a></button>
		{% else %}
		{%if permitir2 %}
		<form method="get">

			<input type="submit" value="Añadir al carrito" name="carrito" id="Comprar2">
		</form>
		{% endif %}
		{% endif %}

	</center>	
	

{%if hayComentarios%}
<h2 align="center">Comentarios y calificaciones: </h2>
{% for comentario in comentarios %}
<p></p>
<p>Usuario: {{comentario.usuarioComentador}}</p>
<p>Calificación: {{comentario.califi}}</p>
<p>Comentario: {{comentario.comentario}} <br/> {% endfor %}</p>
{%endif%}

{%if hayComentarios == False %}
 <p>No hay comentarios ni calificaciones en esta obra </p>
{%	endif	%}



{% endblock %}
