{% extends 'plantillaGeneral.html' %}
<link rel="stylesheet" href="/static/css/perfil.css">
{% block title %}
Catalogo Libros
{% endblock %}
{% block content %}
<div class="row">
      <div class="col col-3">
         <h1><i class="fas fa-university" id="lll"></i></h1>
          <div class="btn-group-vertical" data-toggle="buttons">
            <button type="button" class="btn btn-secondary"><a href="VistaComprados">Articulos Comprados</a></button>
            {% if user.es_CreadorDeContenido%}
            <button  class="btn btn-secondary"><a href="SubirObra">Subir Obras</a></button>
            <button  class="btn btn-secondary"><a href="VistaCompradores">Articulos Vendidos</a></button>
            <a href="VistaDonantes"><button  class="btn btn-secondary"><a href="VistaDonantes">Mis donaciones</a></button>

            {% endif %}
            <form method = "GET">
            {% if user.es_Colaborador == True%}
                  <button  class="btn btn-secondary" type="submit"  value="Dejar de ser Colaborador" name='NoserColaborador'>Dejar de ser Colaborador</button>
            {%endif%}
            {% if user.es_Colaborador == False%}
                  <button class="btn btn-secondary" type="submit"  value="Convertirse En Colaborador" name='serColaborador'>Convertirse En Colaborador</button>
            {%endif%}
                        </form>
                <button class="btn btn-secondary" type="submit"  value="Contactos" name='Contacto'><a href="/Contacto">Lista de Contactos</a></button>
                  <button class="btn btn-secondary" type="submit"  value="Bandeja de Mensajes" name='Mensajes'><a href="/BandejaEntrada">Bandeja de Mensajes</a></button>

          </div>
          <form class="site-form" method="post">
            {% csrf_token %}
            <h1 id="Credito"><i class="fas fa-money-bill-alt"></i>{{user.balance}}</h1>
          </form>
      </div>
      <div class="col col-6">
        <div class="modal-dialog text-center">
            <div class="col-sm-10 incio-section">
              <h1><em><font face="Trebuchet MS" size="7" color="38578B">{{user.user}}</font></em></h1>
              <div class="modal-content">
                <div class="col-12 user-img">
                  <img src="{{user.profile_img.url}}" id="imgp" width="300" height="300">
                </div>
              </div>
            </div>
      </div>
      <div class="col col-3">
     
      </div>
    </div>
  </div>


{% endblock %}
