<!DOCTYPE html>
<html>
<head>
	<title>Registro</title>
	<link rel="stylesheet" href="static/css/Registro.css">
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap1.min.css">
	<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
	<script type="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    
</head>
<body class="body">
	<div class="section">
		<button type="submit" class="btn btn-primary"><a href="/"><i class="fas fa-caret-square-left"></i>  Volver</a></button>
	</div>
	<div>
		<div class="columns row">
			<div class="column-2 col col-3"></div>
			<div class="column col col-6">
				<h1 class="heading">SEA PARTE DE NUESTRA <br> COMUNIDAD</h1>				
			</div>
			<div class="col col-3"></div>			
		</div>
	</div>
	<div class="conteiner conteiner">
	</div>
	<div>
		<div class="row">
			<div class="col col-3"><img src="static/img/manchas.png" class="image" width="300" height="300"></div>
			<div class="col col-6">
				<div class="container-2 conteiner">
					<form class="site-form" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						{{ user_form.as_ul}}
						{{profile_form.as_ul}}
						{{competencias_Form.as_ul}}
						<input class="buttom" type="submit" value="Registrarse" >
					</form>
				</div>
			</div>
			<div class="col col-3"><img src="static/img/manchas2.png" class="image-2" width="300" height="300"></div>
		</div>
	</div>
<script>
	{%if msj is not None%}
    	alert('{{ msj }}');
    {%endif%}
</script>
</body>
</html>
