{% extends 'plantillaGeneral.html' %}
{% block extrahead %}
<link rel="stylesheet" href="/static/css/perfil.css">
<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
{% endblock %}
{% block title %}
Subir manualidad
{% endblock %}
{% block content %}

<h1 class="heading">Hora de Subir tu Contenido manual</h1>
<div class="row">
	<div class="col col-3"></div>
	<div class="col col-6">
		<div class="container-7 conteiner">
			<h2>Rellenar los campos del siguiente formulario para comenzar a vender su producto Manual</h2>
				<form class="site-form" method="post"  enctype="multipart/form-data">
							{% csrf_token %}
							{{ Form }}
							{{ Form2.as_p }}

				<input type="submit" value="Subir producto" id="Comprar">
				</form>
		</div>
	<div class="col col-3"></div>
	</div>
<div>

{% endblock %}