{% extends 'plantillaGeneral.html' %}
{% block extrahead %}
<link rel="stylesheet" href="/static/css/diseño.css">
<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
{% endblock %}
{% block title %}
Subir obra
{% endblock %}
{% block content %}
<h1 class="heading">Bienvenido a la seccion donde puede subir una obra a la pagina web</h1>
<h2 align="center">Seleccionar el tipo de obra que desea subir</h2>

    <div class="btn2-group-vertical" data-toggle="buttons">
      <button type="submit" class="btn btn-secondary"><a href="SubirObra/SubirContenidoLiterario">Subir libro</a></button>
      <button type="submit" class="btn btn-secondary"><a href="SubirManualidad">Subir escultura o pintura</a></button>
      <button type="submit" class="btn btn-secondary"><a href="SubirContenidoMultimedia">Subir video</a></button>
    </div>





{% endblock %}
