<!DOCTYPE html>
<html>
<head>
<title>Vista de los usuarios que adquirieron artículos</title>
</head>
<body>


<h1>Lista de usuarios que compraron sus productos</h1>

<a href="/HomePage">Volver a la Pagina de Inicio</a>

<p>Usuarios </p>

{% for  Usuarios in usuariosCompradores %}

<p>Nombre del usuario : {{Usuarios.usuarioComprador.user.first_name}}</p>
<p>Apellido del usuario : {{Usuarios.usuarioComprador.user.last_name}}</p>
<p>Libro comprado : {{Usuarios.libro.Titulo}}</p>
{%endfor%}
{% for  Usuar in usuariosCompraManu %}

<p>Nombre del usuario : {{Usuar.usuarioComprador.user.first_name}}</p>
<p>Apellido del usuario : {{Usuar.usuarioComprador.user.last_name}}</p>
<p>Libro comprado : {{Usuar.manualidad.title}}</p>

{%endfor%}
</body>
</html>

