<!DOCTYPE html>
<html>
<head>
<title>Vista de los usuarios que le donaron</title>
</head>
<body>


<h1>Lista de usuarios que le donaron</h1>

<a href="/HomePage">Volver a la Pagina de Inicio</a>

<p>Usuarios </p>

{% for  Usuarios in usuariosDonadores %}

<p>Nombre del usuario : {{Usuarios.usuarioDonante.user.first_name}}</p>
<p>Apellido del usuario : {{Usuarios.usuarioDonante.user.last_name}}</p>
<p>Monto donado : {{Usuarios.cantidad}}</p>
<p>Mensaje: {{Usuarios.mensaje}}</p>

{%endfor%}
</body>
</html>

