{% extends 'plantillaGeneral.html' %}
<link rel="stylesheet" href="/static/css/perfil.css">
{% block title %}
Usuario {{Usu.user.first_name}}
{% endblock %}
{% block content %}


	<div class="row">
			<div class="col col-3">
				<h1 class="namess">{{Usu.user.username}} </h1>
				<div class="img-conteiner">	
					<img src="{{Usu.profile_img.url}}" width="300" height="300">
				</div>
				
			</div>
			<div class="col col-6">
				<div class="container-3 conteiner">
				</div>
			</div>
			<div class="col col-3">
				<form method="get">

				<td><a href="Donacion/{{Usu.pk}}">donar</td>
	  				{%if Usu.es_Colaborador %}
	   			 <button type="submit" class="btn btn-secondary" value="Ofrecer Contrato" name="contratar"> Ofrecer 		Contrato </button>
	 			 {%endif%}
			</form>
			</div>
		</div>
	</div>
{% endblock %}
